@model DaVenti.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fk_id_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_id_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_id_promo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_id_promo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_book }) |
    @Html.ActionLink("Back to List", "Index")
</p>
